beautifulsoup4==4.11.1
bleach==5.0.1
boto3==1.24.81
botocore==1.27.81
dateparser==1.1.1
feedparser==6.0.10
html2text==2020.1.16
metadata-parser==0.10.5
pytz==2022.5
requests==2.28.1
requests-cache==0.5.2
unshortenit==0.4.0
urllib3==1.26.12
wasmer==1.0.0
wasmer-compiler-cranelift==1.0.0
better-profanity==0.7.0
regex==2022.3.2
Pillow==9.3.0
structlog==22.1.0
